<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 mt-5" *ngFor="let item of blogData | slice: (page-1) * pageSize : page * pageSize"><mat-card class="example-card">   <!--col-sm-6, col-md-3 ten sonra yazılınca sayfa küçüldüğünde gösterilen kart sayının birer birer azaltıyor-->
            <mat-card-header>
              <mat-card-title>{{item.title}}</mat-card-title>
            </mat-card-header>
            <img mat-card-image src="assets/images/image{{item.imageId}}.jpg">
            <mat-card-content>
              <p>{{item.body}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="openDialog(item,false)">Görüntüle</button>
              <button mat-raised-button color="accent" (click)="openDialog(item,true)">Düzenle</button>
            </mat-card-actions>
          </mat-card>
        </div>
    </div>

    <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="blogData.length">
    </ngb-pagination>
</div>